@font-face {
    font-family: Beau;
    src: url("/Fuentes/BeauRivage-Regular.ttf");
}
@font-face {
    font-family: Serif-Bold;
    src: url("/Fuentes/PTSerif-Bold.ttf");
}
@font-face {
    font-family: Serif-Italic;
    src: url("/Fuentes/PTSerif-Italic.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("/Fuentes/Roboto-Italic.ttf");
}