footer {
    border: 1px double black;
    @media screen and (max-width: 450px) {
        background-color: black;
        border: none;
    }
    address {
        display: flex;
            justify-content: space-around;

        a {
            color: burlywood;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-decoration: none;
            text-align: center;
            @media screen and (max-width: 450px) {
                font-size: 10px;
            }
        }
    }
}

footer {
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: burlywood;
        text-align: center;
    }
}

footer {
    h6 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: burlywood;
        text-align: center;
    }
}