header {
    section {
        h1 {
            color: burlywood;
            text-align: center;
            font-size: 70px;
            font-family: Serif-Bold;
            @media screen and (max-width: 450px) {
                font-size: 30px;
            }
        }
    }
}

section {
    nav {
        ul {
            display: flex;
            justify-content: space-around;
            background-color: black;
            list-style: none;
            @media screen and (max-width: 450px){
                flex-direction: column;
                text-align: center;
            }
            li {
                a{
                    color: burlywood;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    @media screen and (max-width: 450px){
                        font-size: 10px;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}